<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:overflow="http://www.w3.org/1999/xhtml">
<head>
    <title>Chatbook</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/main.css" rel="stylesheet"/>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/app.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div class="container">
    <header>
        <div class="row">
            <div class="col-md-10">
                <span id="chitchat">ChitChat</span>
                <span class="slogan">Nice to have you back<span id="name" th:text="${username}">username</span>!</span>
                <!-- Trigger the modal with a button -->
                <input type="button" class="btn btn-info" data-toggle="modal" data-target="#passwordModal">Settings</input>
                <a href="/logout" id="logout" class="btn btn-default" type="submit"><input type="button" class="btn btn-info">Logout</input></a>

            </div>
        </div>

    </header>
    <ol class="chat">
        <div th:each="message: ${oldmessages}">
            <li th:class="(${message.username} == ${username}) ? 'self':'other'">
                <div class="msg">
                    <div class="user" th:text="${message.username}">User</div>
                    <p th:text="${message.message}">Message</p>
                    <time>Time...</time>
                </div>
            </li>
        </div>

        <div id="messages"/>

    </ol>

    <!-- message input-->
    <div>
        <!--<form>
            <button type="submit" class="send">Send</button>
        </form>-->
        <form>
            <input type="text" id="message" class="textarea" placeholder="Type your message…" autofocus="autofocus"/>
            <input type="hidden" id="username" th:value="${username}"/>
            <input type="submit" id="send"/>
        </form>

    </div>
</div>
<!-- Modal -->
<div id="passwordModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Change Password</h4>
            </div>
            <div class="modal-body">
                <p>
                <div class="td">
                    <input type="password" id="txtNewPassword" />
                </div>
                <div class="td">
                    <input type="password" id="txtConfirmPassword" onChange="checkPasswordMatch();" />
                </div>
                <div class="registrationFormAlert" id="divCheckPasswordMatch">
                </div>
                <a href="/changepassword" id="changePasswordButton" class="btn btn-default" type="submit" role="button">Apply</a>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
</body>
</html>