<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:overflow="http://www.w3.org/1999/xhtml">
<head>
    <title>ChitChat</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/main.css" rel="stylesheet"/>

    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/app.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet"/>

</head>

<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div class="container">
    <!-- Modals-->
    <div class="modal fade bd-example-modal-lg profileModalBase" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="profileModal">
                    <img id="profilePicture" th:src="${user.imgUrl}" alt="Profile pic"/>
                    <div>
                        <h2 id="userId" th:text="${user.userId}"></h2>
                        <h2 id="firstName" th:text="${user.firstName}"></h2>
                        <h2 id="lastName" th:text="${user.lastName}"></h2>
                        <h2 id="age" th:text="${user.age}"></h2>
                        <h2 id="description" th:text="${user.description}"></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header>
        <span id="chitchat">ChitChat</span>
        <span id="slogan">Signed in as <span id="name" th:text="${user.nickName}">username</span></span>
        <div id="buttonContainer">
            <input type="button" class="btn btn-info" data-toggle="modal" data-target=".profileModalBase" value="Profile" />
            <!-- <input type="button" class="btn btn-info" data-toggle="modal" data-target="#passwordModal" value="Settings"/> -->
            <a href="/logout" id="logout" class="btn btn-info" type="submit"><input type="button">Logout</input></a>
        </div>
    </header>
    <ol class="chat">
        <div th:each="message: ${oldmessages}">
            <li th:class="(${message.username} == ${user.nickName}) ? 'self':'other'">
                <div class="msg">
                    <div class="user" th:text="${message.username}">User</div>
                    <p th:text="${message.message}">Message</p>
                </div>
            </li>
        </div>

        <div id="messages"/>

    </ol>

    <!-- message input-->
    <div>
        <form>
            <input type="text" id="message" class="textarea" placeholder="Type your message…" autofocus="autofocus"/>
            <input type="hidden" id="username" th:value="${user.nickName}"/>
            <input type="submit" id="send"/>
        </form>

    </div>
</div>
</body>
</html>
