<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Chatbook</title>
    <link href="/styles/inputStyles.css" rel="stylesheet"/>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/main.css" rel="stylesheet"/>
    <script src="/webjars/jquery/jquery.min.js"></script>

</head>
<body>

<div id="main-content" class="container">
    <div id="menuTop">
        <h1>WELCOME TO CHATBOOK</h1>
    </div>
</div>
    <form action="/" method="post">
        <div>
            <input type="text" class = "swing" id="user" name="username" th:value="${username}" placeholder="Enter Name"/>
            <label for = "user">Name:</label>
        </div>
        <div>
            <input type="password" class="swing" id="password" name="password" placeholder="Enter Password"/>
            <label for = "password">Password:</label>
        </div>
        <div class="button">
            <button type="submit">Login</button>
        </div>
    </form>
</body>
</html>