<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>ChitChat</title>
<!--    <link href="/styles/inputStyles.css" rel="stylesheet"/> -->
    <!--<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>-->
    <link href="/main.css" rel="stylesheet"/>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet"/>

</head>
<body>
<div id="main-content" class="container">
    <div id="title">
        <h1 id="logga">ChitChat</h1>
    </div>
    <div id="slogan">
        <p>A place where they aren't listening...</p>
    </div>
    <div class="login-page">
        <div class="form">
            <form action="/" method="post" class="login-form">
                <input type="text" class="swing" id="user" name="username" th:value="${username}"
                       placeholder="Enter Name"/>
                <input type="password" class="swing" id="password" name="password" placeholder="Enter password"/>
                <button type="submit">Let me in</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>